.col-sm-12
	.well.well-background
		.like-button
			= render partial: 'likes/like', locals: { bookmark: bookmark }
		%h4
			= link_to bookmark.url, "http://#{bookmark.url}", target: "_blank"
			&nbsp;
			= display("http://#{bookmark.url}")
		= link_to "Edit", edit_topic_bookmark_path(bookmark.topic, bookmark), class: "btn btn-sm btn-primary" if policy(bookmark).edit?
		&nbsp;
		= link_to "Delete", topic_bookmark_path(bookmark.topic, bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" if policy(bookmark).destroy?
