<!DOCTYPE html>
<html>
  <head>
    <title>Blocmarks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-image">

  	<div class="container">

  		<header>
  			<%= render 'shared/navbar' %>
        <%= render 'shared/flash_message' %>
  		</header>

    	<%= yield %>

      <footer class="footer">
        <span> &copy; Blocmarks by Joe Garcia   2017</span>
      </footer>

	</div>
 
  </body>
</html>
